@use 'flix';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    min-height: 100%;
 }

.cover{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   

   @media(max-width:768px){
    background-image: url(../images/background_mobile.png);
    background-size: cover;
   }
   @media (min-width:768px) and (max-width:1024px){
    background-image: url(../images/background_tablet.png);
    background-size: cover;
   }
}

.studio{

   &__container{
    max-width: 1024px;
    margin: 0 auto;
   }
        &__header{  
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 48px 0;

            @media (min-width:768px) and (max-width:1023px){
                justify-content: space-around;

                .studio__header__logo{
                    height: 60px;
                }

                .studio__header__links{
                    display: flex;
                    img{
                        height: 35px;
                    }
                }

                
               }

               @media(max-width:768px){
                flex-direction: column;

                .studio__header__links{
                    display: none;
                }

                .studio__header__logo{
                    height: 48px;
                }
               }

            &__logo{
                height: 80px;

            }
            &__links{
                display: flex;
               
                img{
                    margin-left: 24px;
                    height: 40px;
                }
            }

           
            
        }
    }
       