*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
     display: flex;
    justify-content: center;
    align-items: center;
   height:100vh;
   margin: 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    padding: 20px;
}

form input{
    display: block;
    margin-top: 20px;
}

form button{
    padding: 20px;
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(47, 72, 184);
    color: beige;
    font-size: 16px;
    font-weight: bold;
}

form p{
    text-align: center;
    background-color: chartreuse;
    border: solid  1px;
    margin-top: 10px;
    display: none;;
}